*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeueCyr-Bold.woff2") format("woff2"),
       url("../fonts/HelveticaNeueCyr-Bold.woff") format("woff");
  font-weight: 800;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroylight.woff2") format("woff2"),
       url("../fonts/gilroylight.woff") format("woff");
  font-weight: 300;
}

a {
  text-decoration: none;
}

body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  font-kerning: none;
  color: #898989;
}
/* HEADER */
.page-header {
  padding-top: 60px;
  background: #fcdb00;
}

.page-header__inner {
  width: 960px;
  margin: 0 auto;
}

.page-header__top {
  display: flex;
  justify-content: space-between;
  margin: 0 12px 0 12px;
}

.header-logo {
  width: 160px;
  margin-left: 6px;
}

.main-navigation {
  margin-top: 13px;
}

.main-navigation__list {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  text-decoration: none;
  list-style: none;
  max-width: 712px;
}

.main-navigation__item {
  margin: 0 0 24px 66px;
}

.main-navigation__link {
  font-family: "HelveticaNeue", Arial, sans-serif;
  font-size: 22px;
  line-height: 22px;
  font-weight: 800;
  color: #010101;
}

.main-navigation__link:hover {
  color: #888888;
}

.main-navigation__link:active {
  color: #981818;
}
/* START-HOME */
.start-home {
  min-height: 621px;
  margin: 44px 12px 20px 12px;
}

.slide {
  display: flex;
  justify-content: space-between;
}

.slider-content {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
  width: 400px;
}

.slider-title {
  margin-top: 67px;
  font-size: 32px;
  line-height: 34px;
  font-weight: 700;
  color: #010101;
}

.sldier-subtitle {
  margin-top: 20px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  color: #313841;
}

.slider-text {
  margin-top: 18px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #555555;
}

.slider-icon {
  display: flex;
  list-style: none;
  margin-top: 39px;
}

.slider-icon__item {
  margin-right: 37px;
}

.icon {
  color: #010101;
  font-size: 42px;
  line-height: 20px;
  font-weight: 400;
}













/* FEATURES */
.features {
  padding-top: 78px;
  padding-bottom: 78px;
}

.header-section {
	width: 780px;
  margin: 0 auto;
	text-align: center;
  margin-bottom: 50px;
}

.features .header-title {
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  color: #010101;
}

.features .header-subtitle {
  color: #313841;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}



.features-content {
  border: 1px solid red;
  padding: 0;
  margin: 0;
}

.features-list {
  border: 1px solid black;
  padding: 0;
  margin: 0;
}


.features-list li {
  min-width: 300px;
  min-height: 115px;
  border: 1px solid black;
  display: inline-block;
  margin: 5px 5px;

}

.features-list .list-column {
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
  margin: 0;
  padding: 0;
}

.features-list .icon {
  color: #010101;
  font-size: 50px;
  font-weight: 400;
  line-height: 32px;
  margin-right: 15px;
}

.features-list .info {
  width: 230px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #898989;
}

.list-column .text {
  margin: 0;
  padding: 0;
  margin-top: 10px;
}

.features-list .info .title {
  font-size: 22px;
  font-weight: 400;
  line-height: 24px;
  color: #010101;
}
/*
/*
.features-list .text {
  word-break: break-word;
}

/*--------------------------------------
Contacts
---------------------------------------*/

.contacts {
  padding-top: 96px;
  padding-bottom: 50px;
  background-color: #010101;
}
.contacts .header-title {
  font-size: 32px;
  color: #fcdb00;
}
.contacts .header-subtitle {
  color: #898989;
  font-size: 20px;
}
.contacts form {
  margin-top: 78px;
  padding-bottom: 78px;
  font-size: 0;
}
.contacts form .form-left {
  display: inline-block;
  width: 70%;
}
.contacts form .form-right {
  display: inline-block;
  width: 20%;
  text-align: right;
}
.contacts form input[type="email"] {
  height: 50px;
  width: 100%;
  line-height: 50px;
  padding: 0 20px;
  border: none;
  border-radius: 3px;
  font-size: 16px;
}
.contacts form input[type="email"]:focus {
  outline-color: #fcdb00;
}
.contacts form input[type="submit"] {
  width: 130px;
  height: 50px;
  border: none;
  border-radius: 3px;
  background-color: #fcdb00;
  color: #010101;
  text-transform: uppercase;
  transition: all .3s ease;
}
.contacts form input[type="submit"]:focus {
  outline-color: #fcdb00;
}
.contacts form input[type="submit"]:hover {
  cursor: pointer;
  background-color: darkorange;
}
.social {
  text-align: center;
  margin-bottom: 34px;
}
.social li {
  width: 44px;
  height: 44px;
  padding: 5px;
  margin-right: 30px;
  border-radius: 3px;
  text-align: center;
  background-color: #fcdb00;
  transition: all .3s ease;
}
.social li a {
  font-size: 28px;
  line-height: 44px;
}
.social li:hover {
  background-color: darkorange;
}

/*--------------------------------------
Footer
---------------------------------------*/

footer {
  padding-top: 50px;
  padding-bottom: 140px;
  background-color: #232527;
  color: white;
}
footer a {
  color: white;
}
footer .container {
  font-size: 0;
}
.footer-col {
  display: inline-block;
  vertical-align: top;
}
.footer-col.info {
  width: 30%;
  font-size: 16px;
}
.footer-col.menus {
  width: 70%;
  font-size: 0;
}
.footer-col.menus ul {
  width: 25%;
  display: inline-block;
  margin: 0;
  padding-left: 0;
  list-style: none;
  vertical-align: top;
}
.footer-col.menus ul li {
  font-size: 16px;
}
